<html>
  <head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      body { margin: 0; padding: 0; background-color: #f1f1f1; font-family:
      Arial, sans-serif; } .form-container { display: flex; justify-content:
      center; align-items: center; height: 100vh; } .form { background-color:
      #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0,
      0, 0.2); margin: 0 10px; } h2 { margin-top: 0; } label { display: block;
      margin-bottom: 5px; } input[type="text"], input[type="email"],
      input[type="password"] { padding: 10px; border-radius: 5px; border: none;
      margin-bottom: 10px; width: 100%; } input[type="submit"] {
      background-color: #4caf50; color: #fff; padding: 10px 20px; border: none;
      border-radius: 5px; cursor: pointer; }

    </style>
  </head>
  <body>
    <div class="form-container">
      <div class="form">
        <h2>Registration Page</h2>
        <form action="/register" method="post">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />

          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />

          <label for="phone">Phone</label>
          <input type="number" id="phone" name="phone" required />

          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />

          <label for="password1">Confirm Password</label>
          <input type="password" id="password1" name="password1" required />

          <input type="submit" value="Register" />
        </form>
        <p>Already have an account? <a href="login">Login here</a></p>
      </div>
    </div>
  </body>
</html>